<h1><%= @cocktail.name %></h1>

<ul>
  <% @cocktail.doses.each do |dose|  %>
    <li>
      <!-- <p><%= link_to dose.description, dose_path %></p> -->
      <h3>Description of Dose</h3>

        <% @cocktail.doses.each do |dose| %>
        <p><%= dose.description %></p>
        <p><%= dose.ingredient.name %></p>
        <% end %>
      <button class="btn btn-danger"> <%= link_to "Delete dose", dose_path(dose), method: :delete  %></button>
    </li>
  <% end %>
</ul>

<button> <%= link_to "Add dose", new_cocktail_dose_path(@cocktail)  %></button>

<button> <%= link_to "Back to cocktails", root_path %></button>
