<div class="container show">
  <div class="row justify-content-center">
    <div class="col-md-6">
    <h1><%= @cocktail.name %></h1>
    <%= cl_image_tag @cocktail.photo, width: 200, height: 300, crop: :fill %>
  </div>

    <div class="col-md-6 dose-form text-center">
    <h2>Ingredients</h2>
    <ul>
      <% @cocktail.doses.each do |dose|  %>
        <li>
        <%= "#{dose.description} of #{dose.ingredient.name}" %> <br><%= link_to "Delete dose", dose_path(dose), method: :delete  %>
        </li>
      <% end %>
      </ul>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addDoseForm">
      Add Dose
    </button>
      <div class="modal fade" id="addDoseForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title text-center" id="exampleModalLabel">Create Cocktail</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for [@cocktail, @dose] do |f| %>
              <%= f.input :description %>
              <%= f.input :ingredient_id, collection: @ingredients - @cocktail.ingredients %>
              <%= f.submit "add dose", class: "btn btn-primary" %>
           <% end %>
          </div>
        </div>
      </div>
    </div>
    </div>
    <br>

    <div class="col-sm-12 options">
      <button><%= link_to "Delete cocktail", cocktail_path(@cocktail), method: :delete %></button>

      <button><%= link_to "Back to cocktails", root_path %></button>
    </div>
  </div>
</div>
